{% extends 'main/base.html' %}

{% block title %}О проекте{% endblock %}

{% block body %}
<div class="container">
    <div class="container">
        <h1>О проекте</h1>
            <div class="description">
                <div class="logo">
                  <p>Веб-приложение на тему: "Разработка клиент-серверного фуллстек-приложения для создания виртуальной книжкой полки пользователей"</p>
                  <p>В данном веб-приложении пользователи могут совершенно бесплатно добавлять книги разных жанров в свою книжную полку.
                      В самой полке пользователи могут читать добавленные книги, а также удалять их, если они им надоели.</p>
                </div>
            </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Контакты для связи</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Телефон: +7 (927) 159-59-09</p>
          <p>Почта: kevin123321xxx@gmail.com</p>
          <p>Телеграм: @geraltfromrovia</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}
