{% extends 'main/base.html' %}

{% block title %}Книжный интернет-магазин{% endblock %}

{% block body %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Добро пожаловать в магазин "Booker"</h1>
      <p class="fs-5 text-body-secondary">У нас есть книги на любой вкус!</p>
       <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex justify-content-between" action="{% url 'search' %}" method="GET">
           <input class="form-control form-control-blue text-bg-light" type="text" name="q" placeholder="Поиск...">
           <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
       </form>
    </div>

    <section class="main-content">
        <div class="container">
            <div class="row">
                {% for book in books %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href="#"><img src="{{ book.book_img.url }}" class="img-thumbnail"></a>
                        </div>
                        <div class="product-details">
                            <h4>{{ book.title }}</h4>
                            <p>{{ book.author }}</p>
                            <p>{{ book.published_date }}</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">
                                    <small>{{ book.price }} руб.</small>
                                </div>
                                <div class="product-links">
                                    <a href="{% url 'product' product_id=book.id %}" class="btn btn-outline-dark">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}