{% extends 'main/base.html' %}

{% block title %}Заказы{% endblock %}

{% block body %}

<div class="main-container-right">
        <div class="cart">
          <center><h2 style="margin-botto5em;">Заказы</h2></center>
          {% if orders %}
          <table class="table">
              <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Пользователь</th>
                  <th scope="col">Заказ</th>
                  <th scope="col">Действие</th>
              </tr>
              </thead>
              <tbody>
              {% for order in orders %}
                  <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ order.user }}</td>
                      <td>{{ order.ordered }}</td>
                      <td>
                          <a href=" " style="color:black; text-decoration: none;">Отклонить</a>
                      </td>
                      <td>
                          <a href=" " style="color:black; text-decoration: none;">Принять</a>
                      </td>
                  </tr>
              {% empty %}
                  <tr>
                      <td colspan='5'>Заказов нет</td>
                  </tr>
                  <tr>
                      <td colspan="5">
                      <a class='btn btn-primary float-right' href='/'>Вернуться на главную</a>
                      </td>
                  </tr>
              {% endfor %}
              {% else %}
                  <h1>Заказов нет</h1>
                  <a href="{% url 'catalog' %}">На главную</a>
              {% endif %}
              </tbody>
          </table>
          </div>
          </div>
        </div>
      </div>
{% endblock %}
