{% extends 'main/base.html' %}

{% block title %}Заказы{% endblock %}

{% block body %}

<div class="main-container-right">
        <div class="cart">
          <center><h2 style="margin-botto5em;">Заказы</h2></center>
          {% if orders %}
          <table class="table">
              <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Пользователь</th>
                  <th scope="col">Заказ</th>
                  <th scope="col">Статус</th>
              </tr>
              </thead>
              <tbody>
              {% for order in orders %}
                  <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ order.user }}</td>
                      <td>
                        {% for item in order.items.all %}
                            {{ item.item.title }} - Количество: {{ item.quantity }} <br>
                        {% endfor %}
                    </td>
                      <td>{{ order.status }}</td>
                      <td>
                        {% if order.status == "В_обработке" %}
                            <form method="post" action="{% url 'orders' %}">
                                {% csrf_token %}
                                <input type="hidden" name="order_id" value="{{ order.id }}">
                                <input type="hidden" name="action" value="accept">
                                <button type="submit" class="btn btn-outline-dark">Принять</button>
                            </form>
                        {% endif %}
                      </td>
                      <td>
                        <form method="post" action="{% url 'orders' %}">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <input type="hidden" name="action" value="reject">
                            <button type="submit" class="btn btn-outline-dark">Отклонить</button>
                        </form>
                      </td>
                  </tr>
              {% empty %}
                  <tr>
                      <td colspan='5'>Заказов нет</td>
                  </tr>
                  <tr>
                      <td colspan="5">
                      <a class='btn btn-primary float-right' href='/'>Вернуться на главную</a>
                      </td>
                  </tr>
              {% endfor %}
              {% else %}
                  <h1>Заказов нет</h1>
                  <a href="{% url 'catalog' %}">На главную</a>
              {% endif %}
              </tbody>
          </table>
          </div>
          </div>
        </div>
      </div>
{% endblock %}
